# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\edma_projects\myedmaproject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
